.edit-button {
  max-width: 24px;
  min-height: 24px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #fff;
  align-self: flex-end;
}

@media screen and (max-width: 1048px) {
  .edit-button {
    max-width: 18px;
    min-height: 18px;
  }
}
