.add-button {
  max-width: 150px;
  min-height: 50px;
  width: 100%;
  box-sizing: border-box;
  align-self: center;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  background-color: transparent;
  padding: 0;
}

@media  screen and (max-width: 1048px) {
  .add-button {
    max-width: 282px;
    margin: 0 auto;
  }
}
