.header {
  width: calc(100% - 400px);
  min-height: 74px;
  box-sizing: border-box;
  margin-bottom: 40px;
  margin-top: 45px;
}

@media screen and (max-width: 580px) {
  .header {
    width: 100%;
    min-height: 56px;
    margin-bottom: 42px;
    margin-top: 28px;
  }
}
