.popup__content {
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding: 34px 36px 37px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  max-width: 430px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #000;
}

@media screen and (max-width: 500px) {
  .popup__content {
    max-width: 282px;
    padding: 25px 22px;
  }
}
