.element__image {
  width: 100%;
  margin-bottom: 25px;
  min-height: 282px;
  border-radius: 10px 10px 0 0;
  position: relative;
  z-index: 1;
  object-fit: cover;
}

.element__image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: black;
  border-radius: 10px 10px 0 0;
  opacity: 1;
}


