.popup__close-btn {
  background-image: url('../../../src/images/popup-close-icon.svg');
  background-size: cover;
  max-width: 32px;
  min-height: 32px;
  width: 100%;
  margin: 0 0 8px 438px;
  background-color: transparent;
  padding: 0;
  border: none;
  transition: opacity 0.5s linear;
  align-self: flex-end;
}

.popup__close-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 500px) {
  .popup__close-btn {
    max-width: 20px;
    min-height: 20px;
    margin: 0 0 16px 262px;
  }
}
