.popup__close-icon {
  max-width: 32px;
  width: 100%;
  margin: 0 0 8px 438px;
}

@media screen and (max-width: 500px) {
  .popup__close-icon {
    max-width: 20px;
    margin: 0 0 16px 262px;
  }
}
