.profile__avatar {
  max-width: 120px;
  height: 120px;
  width: 100%;
  border-radius: 50%;
  margin-right: 30px;
}

@media  screen and (max-width: 1048px) {
  .profile__avatar {
    margin-right: 0;
  }
}
