.profile__author-subline {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  max-width: 336px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media  screen and (max-width: 1048px) {
  .profile__author-subline {
    font-size: 14px;
    line-height: 14px;
    text-align: center;
  }
}
